<html>
    <head>
        <title>Admin User Added</title>
        <meta charset="UTF-8">
        <meta name="description" content="Login">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/adminann.css">
        <link rel="stylesheet" href="/styles/navcss.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>

    <body>
        <nav>
            <div class="logo">
                <span class="material-symbols-outlined logosym">departure_board</span>
            </div>
            <div class="navlinks">
                <span class="material-symbols-outlined burger" id="burmenu">menu</span>
                <div class="links">
                    <a href="/admin">Schedule</a>
                    <!--
                    <a href="/admin/announcements">Make Announcement</a>
                    <a href="/admin/viewannouncements">View Announcements</a>
                    <a href="/admin/complaints">Register Complaint</a>
                    <a href="/admin/viewcomplaints">View Complaints</a>
                    -->
                    <a href="/admin/adduser">Add User</a>
                </div>
            </div>
        </nav>
        <main>
            
            <h1>User Added</h1>
            <div id="ack">
            <p>The new user has been added. The new user can now access their portal.</p>
            </div>
        </main>
        <footer>

        </footer>
        
    </body>
</html>
